<?xml version="1.0"?>
<!--
	
  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot name="ur10" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="M_PI" value="3.1415926535897931" />
    <xacro:property name="DEG2RAD" value="0.01745329251994329577" />

  <!--Offset Parameters -->
  <xacro:property name="jr3_hight" value="0.05" />
  <xacro:property name="jr3_radius" value="0.035" />

  <xacro:property name="adapter_z_offset" value="0.045" />
  <xacro:property name="adapter_joint_x_offset" value="0.045" />

</robot>
